* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/Bg-image.avif');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stopwatch-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.37);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.heading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.time-display {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding: 30px 70px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

button {
  width: 110px;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.start-stop {
  background: #0f0f0f;
  color: white;
}

.reset {
  background: #0f0f0f;
  color: white;
}

.lap-btn {
  background: #0f0f0f;
  color: white;
}

.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out;
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(5px);
  }
}

/* Lap List Styles */
.lap-list {
  list-style: none;
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
}

.lap-list li {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  margin: 5px auto;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
